*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#App{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    width: 100%;
    height: 600px;
}

.busqueda{
    width: 400px;
    margin: 50px auto;
    height: 100px;

}
.busqueda input{
    width: 350px;
    height: 40px;
    border-radius: 20px;
    padding: 0px 10px;
}
.busqueda button{
    display: block;
    width: 100px;
    height: 30px;
    background-color: rgb(14, 92, 14);
    color: aliceblue;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    
}
.taskContainer{
    width: 70%;
    height: 500px;
    padding: 0px 20px ;
    place-self: center;
}
.esconder{
   display: none;

}
.Gifimage{
    width: 48px;
    height: 48px;
} 